.small-card-container {
    width: 800px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.small-card-content {
    display: flex;
    flex-direction: row;
}

.small-card-img > a > img {
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.small-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card-separator {
    margin-bottom: 15px;
}

.small-card-title > h1 > a {
    color: gray;
}